li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
    font-size: 0.9em;

}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
}

#profile-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
